.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
}

.buttons {
  position: absolute;
  top: 20%;
  right: 4%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.buttons button {
  border-radius: 50%;
  margin: 5px;
  padding: 10px;
  font-size: 28px;
}
.seatNumber {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}