.wrap {
display: flex;
align-items: center;
justify-content: center;
padding: 40px;
position: relative;
}
.schema {
  transform-origin: top left; 
}
.buttons {
  position: absolute;
  top: 20%;
  right: 4%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.buttons button {
  border-radius: 50%;
  background: white;
  margin: 5px;
  padding: 10px;
  font-size: 28px;
}